<div class="landing-content">
  <div class="justify-c">
    <h1>Manage all your Society needs</h1>
    <p>Handling all requirements of your Society was never easier</p>
  </div>
  <div class="box box-form mt-2">
    <form action="#" method="post">
      <h3 class="value">Sign up for My Society</h3>
      <div class="form-group roles">
        <input
          type="radio"
          id="facilityManagement"
          name="user_role"
          value="facilityManagement"
        />
        <label for="Facility Management">Facility Management</label><br />
        <input type="radio" id="resident" name="user_role" value="resident" />
        <label for="Resident">Resident</label><br />
      </div>
      <div class="form-group">
        <label for="Name" class="custom-label">Name</label>
        <input type="text" name="name" />
      </div>
      <div class="form-group">
        <label for="Email" class="custom-label">Email</label>
        <input type="email" name="email" />
      </div>
      <!-- <div class="form-group">
        <label for="Phone Number">Phone Number</label>
        <input type="text" name="phone" />
      </div>

      <div class="form-group">
        <label for="Apartment">Apartment</label>
        <input type="text" name="apartment" />
      </div>
      <div class="form-group">
        <label for="Block">Block</label>
        <input type="text" name="block" />
      </div>
      <div class="form-group">
        <label for="flat">Flat No</label>
        <input type="text" name="flat" />
      </div> -->
      <div class="form-group">
        <label for="Password" class="custom-label">Password</label>
        <input type="password" name="password" />
      </div>
      <div class="form-group">
        <label for="Confirm Password" class="custom-label">
          Confirm Password</label
        >
        <input type="password" name="confirmPassword" />
      </div>
      <a href="" class="btn btn-primary py-1">Register</a>
      <p>Already Registered? <a href="" class="value">Login now</a></p>
    </form>
  </div>
</div>
