<div class="landing-content landing-content-register">
  <div class="justify-c">
    <h1>Manage all your Society needs</h1>
    <p>Handling all requirements of your Society was never easier</p>
  </div>
  <div class="box box-form">
    <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      <h3 class="value">Sign up for My Society</h3>
      <div class="form-group">
        <label for="Name" class="custom-label">Name</label>
        <input
          type="text"
          name="name"
          [(ngModel)]="user.name"
          required
          #name="ngModel"
        />
        <span [hidden]="name.valid || name.pristine" class="alert"
          >Name is required</span
        >
      </div>
      <div class="form-group">
        <label for="Email" class="custom-label">Email</label>
        <input
          type="email"
          name="email"
          [(ngModel)]="user.email"
          required
          #email="ngModel"
        />
        <span [hidden]="email.valid || email.pristine" class="alert"
          >Email is required</span
        >
      </div>

      <div class="form-group">
        <label for="Block" class="custom-label"> Block</label>
        <input
          type="text"
          name="block"
          [(ngModel)]="user.block"
          required
          #block="ngModel"
        />
        <span [hidden]="block.valid || block.pristine" class="alert"
          >Block no is required</span
        >
      </div>
      <div class="form-group">
        <label for="Flat No" class="custom-label"> Flat No</label>
        <input
          type="flatNo"
          name="flatNo"
          [(ngModel)]="user.flatNo"
          required
          #flatNo="ngModel"
        />
        <span [hidden]="flatNo.valid || flatNo.pristine" class="alert"
          >Flat No is</span
        >
      </div>
      <div class="form-group">
        <label for="Phone Number" class="custom-label"> Phone Number</label>
        <input
          type="text"
          name="phoneNumber"
          [(ngModel)]="user.phoneNumber"
          required
          #phoneNumber="ngModel"
        />
        <span [hidden]="phoneNumber.valid || phoneNumber.pristine" class="alert"
          >Valid phone number is required</span
        >
      </div>
      <div class="form-group">
        <label for="Password" class="custom-label">Password</label>
        <input
          type="password"
          name="password"
          [(ngModel)]="user.password"
          required
          minlength="8"
          #password="ngModel"
        />
        <span [hidden]="password.valid || password.pristine" class="alert"
          >Password is required</span
        >
      </div>
      <div class="form-group">
        <label for="Confirm Password" class="custom-label">
          Confirm Password</label
        >
        <input
          type="password"
          name="confirmPassword"
          [(ngModel)]="user.confirmPassword"
          required
          minlength="8"
          #confirmPassword="ngModel"
        />
        <span
          [hidden]="confirmPassword.valid || confirmPassword.pristine"
          class="alert"
          >Passwords donot match</span
        >
      </div>
      <button
        href=""
        class="btn btn-primary py-1"
        type="submit"
        [disabled]="!registerForm.form.valid"
        [ngClass]="!registerForm.form.valid ? 'btn-light' : 'btn-primary'"
      >
        Register
      </button>
      <p>Already Registered? <a href="" class="value">Login now</a></p>
    </form>
  </div>
</div>
