<div class="loading-spinner" *ngIf="loading">
  <img src="../../../assets/img/loading.gif" alt="" />
  <h5>Sending email...</h5>
</div>
<div *ngIf="!loading">
  <div>
    <h3 class="text-primary p-1">
      <button
        class="btn btn-light px-half mr-1"
        (click)="formOpened = !formOpened"
      >
        <i class="fa fa-plus"></i> New Notice
      </button>
      <button
        class="btn btn-light px-half"
        (click)="emailFormOpened = !emailFormOpened"
      >
        <i class="fa fa-envelope"></i> Mass Email
      </button>
    </h3>
    <!-- Create notice form -->
    <div class="box" *ngIf="formOpened">
      <form
        class="add-notice-form"
        #noticeForm="ngForm"
        (ngSubmit)="createNotice(noticeForm)"
      >
        <div class="form-group"><h4 class="pb-1">Create New Notice</h4></div>
        <div class="form-group">
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Notice Title"
            [(ngModel)]="notice.title"
          />
        </div>
        <div class="form-group">
          <textarea
            id="noticeContent"
            name="noticeContent"
            rows="4"
            cols="50"
            [(ngModel)]="notice.content"
          ></textarea>
        </div>
        <div class="box-action-button py-half">
          <button type="submit" class="btn btn-primary btn-add-owner">
            Send Notice
          </button>
        </div>
      </form>
    </div>
    <!-- Edit notice form -->
    <div class="box" *ngIf="editMode">
      <form
        class="add-notice-form"
        #noticeEditForm="ngForm"
        (ngSubmit)="editNotice(noticeEditForm)"
      >
        <div class="form-group"><h4 class="pb-1">Edit Notice</h4></div>
        <div class="form-group">
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Notice Title"
            [(ngModel)]="editedNotice.title"
          />
        </div>
        <div class="form-group">
          <textarea
            id="content"
            name="content"
            rows="4"
            cols="50"
            [(ngModel)]="editedNotice.content"
          ></textarea>
        </div>
        <div class="box-action-button py-half">
          <button
            (click)="discardEditForm()"
            class="btn btn-dark btn-add-owner mr-1"
          >
            Discard Changes
          </button>
          <button type="submit" class="btn btn-primary btn-add-owner">
            Save Changes
          </button>
        </div>
      </form>
    </div>

    <!-- Create mass email form -->
    <div class="box" *ngIf="emailFormOpened">
      <form
        class="add-notice-form"
        #emailForm="ngForm"
        (ngSubmit)="sendEmail()"
      >
        <div class="form-group">
          <h4 class="pb-1">Send Email Communication</h4>
        </div>
        <div class="form-group">
          <input
            type="text"
            name="sender"
            id="sender"
            placeholder="from"
            [(ngModel)]="email.sender"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="recipient"
            id="recipient"
            placeholder="to"
            [(ngModel)]="email.recipients"
          />
        </div>
        <div class="form-group">
          <input
            type="text"
            name="title"
            id="subject"
            placeholder="Subject"
            [(ngModel)]="email.subject"
          />
        </div>
        <div class="form-group">
          <textarea
            id="body"
            name="body"
            rows="8"
            cols="50"
            [(ngModel)]="email.body"
          ></textarea>
        </div>
        <div class="box-action-button py-half">
          <input
            type="file"
            multiple="multiple"
            (change)="onAttachmentSelected($event)"
          />
          <button type="submit" class="btn btn-primary btn-add-owner">
            Send
          </button>
        </div>
      </form>
    </div>

    <h3 class="text-primary px-1 pb-1">
      <i class="fa fa-search px-half"></i> Find a notice
    </h3>
    <div class="box search-box-notice">
      <input
        type="text"
        class=""
        placeholder="Enter search term"
        [(ngModel)]="searchTerm"
        #search="ngModel"
        name="searchInput"
      />
      <!-- <select
        class="select-filter"
        name="noticeSearchFilter"
        id="noticeSearchFilter"
        [(ngModel)]="noticeSearchFilter"
      >
        <option value="title">Search By Title</option>
        <option value="postedAt">Posted On</option>
        <option value="expiresOn">Expiry Date</option>
      </select> -->
      <button (click)="searchNotice(searchTerm)" class="btn btn-dark">
        Search
      </button>
    </div>
    <div class="box mt-1">
      <div class="bills-table">
        <table>
          <thead>
            <tr class="table-head-row">
              <td>Notice Title</td>
              <td>Posted On</td>
              <td>Expiry Date</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody>
            <tr class="table-body-row" *ngFor="let notice of filteredResults">
              <td class="py-1">{{ notice.title }}</td>
              <td>{{ notice.postedAt | date: "shortDate" }}</td>
              <td>{{ notice.expiresOn | date: "medium" }}</td>
              <td>
                <button (click)="showEditForm(notice)">
                  <i class="fa fa-edit px-half" aria-hidden="true"></i>
                </button>
                <a href=""
                  ><i class="fa fa-trash px-half" aria-hidden="true"></i
                ></a>
                <a href=""
                  ><i class="fa fa-download px-half" aria-hidden="true"></i
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
