<div>
  <!-- Add Owner Section -->
  <div class="add-owner"></div>
  <!-- Search Section -->
  <div>
    <div>
      <h3 class="text-primary p-1">
        <i class="fa fa-search px-half"></i> Search Owners
      </h3>
      <div class="box search-box">
        <input type="text" class="" placeholder="Enter search term" />
        <select class="select-filter" name="searchFilter" id="searchFilter">
          <option value="searchBy">Search By</option>
          <option value="flatNo">Flat no</option>
          <option value="block">Block</option>
          <option value="name">Owner name</option>
          <option value="contactNo">Contact no</option>
          <option value="email">Email</option>
        </select>
        <a href="" class="btn btn-dark">Search</a>
      </div>
      <h4 class="text-primary p-1">Search results</h4>

      <!-- Edit Owner form -->
      <div class="box" *ngIf="editMode">
        <form
          class="add-notice-form"
          #ownerEditForm="ngForm"
          (ngSubmit)="onEdit(ownerEditForm)"
        >
          <div class="form-group"><h4 class="pb-1">Edit Owner</h4></div>
          <div class="form-group">
            <input
              type="text"
              name="name"
              id="name"
              #ownerName="ngModel"
              placeholder="Owner Name"
              [(ngModel)]="editedOwner.name"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="email"
              id="email"
              placeholder="Owner Email"
              [(ngModel)]="editedOwner.email"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="flatNo"
              id="flatNo"
              placeholder="Owner Flat No"
              [(ngModel)]="editedOwner.flatNo"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="block"
              id="block"
              placeholder="Owner Block"
              [(ngModel)]="editedOwner.block"
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              name="phoneNumber"
              id="phoneNumber"
              placeholder="Owner Phone Number"
              [(ngModel)]="editedOwner.phoneNumber"
            />
          </div>
          <div class="box-action-button py-half">
            <button type="submit" class="btn btn-primary btn-add-owner">
              Save Changes
            </button>
          </div>
        </form>
      </div>

      <div id="grid-one-by-three">
        <div class="box owner-info-box" *ngFor="let user of users">
          <div class="box-header-primary">
            <h4 class="text-light">Flat no {{ user.flatNo }}</h4>
            <h5 class="text-light">Block {{ user.block }}</h5>
          </div>
          <div id="grid-one-by-two" class="owner-info-box-content">
            <div class="owner-info-box-details">
              <h5 class="text-dark">{{ user.name }}</h5>
              <h5 class="text-dark">{{ user.phoneNumber }}</h5>
              <h5 class="text-dark">{{ user.email }}</h5>
            </div>
            <div class="owner-info-box-img">
              <img src="./assets/img/profile-image.png" alt="" />
            </div>
          </div>
          <div class="box-action-button">
            <button (click)="editForm(user)">
              <i class="fa fa-edit px-half" aria-hidden="true"></i>
            </button>
            <button (click)="deleteOwner(user._id)">
              <i class="fa fa-trash px-half" aria-hidden="true"></i>
            </button>
            <a
              routerLink="/admin-dashboard/owners/{{ user._id }}"
              class="text-primary fa-2x p-1"
              ><i class="fa fa-arrow-right" aria-hidden="true"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
