<div class="box-notice bg-grey">
  <h3 class="p-1">Noticeboard</h3>
  <div class="notice-box py-1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa odit
    consequuntur magnam recusandae nisi soluta pariatur perspiciatis dicta error
    est?
  </div>
  <div class="notice-box py-1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa odit
    consequuntur magnam recusandae nisi soluta pariatur perspiciatis dicta error
    est?
  </div>
  <div class="notice-box py-1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa odit
    consequuntur magnam recusandae nisi soluta pariatur perspiciatis dicta error
    est?
  </div>
  <div class="notice-box py-1">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa odit
    consequuntur magnam recusandae nisi soluta pariatur perspiciatis dicta error
    est?
  </div>
</div>
