<div class="landing-content">
  <div class="justify-c">
    <h1>Manage all your Society needs</h1>
    <p>Handling all requirements of your Society was never easier</p>
  </div>
  <div class="box box-form register">
    <form action="#" method="post">
      <h3 class="value">Sign in to My Society</h3>
      <div class="form-group">
        <label for="Username">Username</label>
        <input type="text" name="username" />
      </div>
      <div class="form-group">
        <label for="Password">Password</label>
        <input type="text" name="password" />
      </div>
      <div class="form-group roles py-1">
        <input
          type="radio"
          id="facilityManagement"
          name="user_role"
          value="facilityManagement"
        />
        <label for="Facility Management">Facility Management</label><br />
        <input type="radio" id="resident" name="user_role" value="resident" />
        <label for="Resident">Resident</label><br />
      </div>
      <a href="" class="btn btn-primary py-1">Login</a>
      <p>
        Not Registered?
        <a href="register.html" class="value">Sign up now</a>
      </p>
    </form>
  </div>
</div>
