<div class="sidebar">
  <ul>
    <li>
      <a href="dashboard_admin.html"
        ><i class="fa fa-file-text-o"></i>My Dashboard</a
      >
    </li>
    <li>
      <a href="owners.html"
        ><i class="fa fa-user-secret" aria-hidden="true"></i>Owners</a
      >
      <a routerLink="/admin-dashboard/bills"
        ><i class="fa fa-money"></i>Billing</a
      >
      <a href="complain_admin.html"><i class="fa fa-ticket"></i>Complain</a>
      <a routerLink="notices"><i class="fa fa-envelope"></i>Notices</a>
      <a href="maintenance_admin.html"><i class="fa fa-cog"></i>Maintenance</a>
      <a href="staff_payroll.html"
        ><i class="fa fa-users"></i>Staff & Payroll</a
      >
      <a href="vendors.html"><i class="fa fa-cart-plus"></i>Vendors</a>
    </li>
  </ul>
</div>
